<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/styles/main.css"> <!--{{ url_for('static', filename='styles/main.css') }}-->
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/python-editor.css">
    <link rel="stylesheet" href="../static/styles/prompt-box.css">
    <!--favicon:-->
    <link rel="shortcut icon" href="../static/icons/tradeflask_dark.png" >
    <title>Flask Trader</title>
</head>
<body>
    <section id="navbar">
        <!--Search bar appears here when prompt is closed-->
        <section class="inline" style="margin-right: 0.3em;">
            <img class="icon" onclick="togglePython(this)" src="../static/icons/python/python.png" id="toggle-python" title="Open python editor" alt="python">
            <img class="icon" id="toggleVerticalFit" onclick="toggleVerticalFit(this)" src="../static/icons/graph/fitVertically.png" title="Toggle vertical fit" alt="Fit vertically">
            <img class="icon" onclick="setMaxTimeScale(this)" src="../static/icons/graph/timeMax.png" title="Set max time-scale" alt="time max">
            <img class="icon" onclick="toggleFullscreen(this)" src="../static/icons/graph/fullscreen.png" title="Toggle fullscreen" alt="fullscreen">
            <img class="icon" onclick="toggleCursorLines(this)" src="../static/icons/graph/cursorLines.png" title="Cursor lines" alt="cursor lines">
        </section>
        <section class="inline bordered">
            <span class="icon">Test</span>
        </section>
    </section>
    <section id="python-editor">
        <img class="icon" onclick="runPython()" src="../static/icons/python/play.png" title="Run script" alt="run script">
        <img class="icon" onclick="saveScript()" src="../static/icons/python/upload.png" title="Upload" alt="upload">
        <img class="icon" onclick="promptDeleteScript()" src="../static/icons/python/delete.png" title="Delete script" alt="delete">
        <a target="_blank" href="/docs"><img class="icon" src="../static/icons/python/docs.png" title="Read docs" alt="docs"></a>
        <textarea spellcheck="false" id="pycode"></textarea>
        <textarea spellcheck="false" id="terminal"></textarea>
    </section>
    <section id="prompt-box">
        <section name="delete">
            <h2>You are about to delete: <span id="prompt-delete-item">your mom</span></h2>
            <p>This action can not be undone.</p>
            <section class="centered-buttons">
                <button class="filled" onclick="confirmDelete()">Confirm</button>
                <button class="transparent" onclick="hidePrompt()">Cancel</button>
            </section>
        </section>
        <section name="welcome" id="prompt-welcome"> <!--Launched at start-->
            <img class="logo" src="../static/icons/tradeflask.png" alt="logo" title="Happy trading ;)">
            <h1>Flask Trader</h1><em class="bordered">&nbsp;Version 1.0</em>
            <p class="link abs_br" onclick="helpPrompt()">Help</p>
            <p>Search tickers, code and more:</p>
            <section id="search-container" class="welcome inline">
                <input autocomplete="off" spellcheck="false" type="text" id="search" onchange="search.onchange(this.value)" onkeyup="search.onkeyup(this.value)"
                placeholder="Tesla">
                <ul id="search-results"><!-- ... --></ul>
            </section>
        </section>
        <section name="help">
            <ul id="help-list">
                <li>SMA(ticker,period)</li>
            </ul>
        </section>
    </section>
    <section id="overlay-black"></section>
    <canvas> Browser does not support canvas :/ </canvas>
</body>
<script src="../static/js/prompt-box.js"></script>
<script src="../static/js/python-editor.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/renderables.js"></script>
<script src="../static/js/die.js"></script>
<script src="../static/js/viewport.js"></script>
<script src="../static/js/render-graph.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/events.js"></script>
</html>