#prompt-box{
    position: absolute;
    top:50%;
    left:50%;
    width: 500px;
    height: 200px;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: var(--navbar);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.247);
    border: 1px solid var(--navbar-secondary);
    color:var(--navbar-primary);
    display: none;
}
h2.prompt{
    margin-top: -0.5em;
}
.centered-buttons{
margin: auto;
width: fit-content;
}
button.transparent,
button.filled{
    padding:0.3em;
    min-width: 10em;
    background-color: var(--navbar);
    border:none;
    outline: 1px solid var(--navbar-primary);
    color: var(--navbar-primary);
    border-radius: 3px;
    cursor: pointer;
    margin: 0.5em;
}
button.filled{
    background-color: var(--navbar-primary);
    color: var(--navbar);
}
button:hover{
    outline: 2px solid var(--navbar-primary);
}
section.hidden{
    display: none;
}
.logo{
    position: absolute;
    top:1em;
    right:1em;
    height: 2.5em;
}
.welcome{
    position: absolute;
    left:0;
    right:0;
    top:auto;
    bottom:1em;
    padding: 5em;
    font-size: 120;
}
#help-list{
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    list-style: none;
    overflow-y: scroll;
    padding: 0;
}
#help-list>li{
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}
#help-list>li:hover{
    background-color: var(--bg);
}
#help-list>li:first-child{
    cursor: default; /*No reason to click on help from help list haha*/
}
.indented{
    padding-left: 1em;
}